/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/Components/style.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.myscroll {
    /* Scrollbar ko hide karne ke liye */
    scrollbar-width: none; /* Firefox ke liye */
    -ms-overflow-style: none; /* Internet Explorer ke liye */
  }
  
  .myscroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera ke liye */
  }
